.Box_modal {
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 500px; */
    background-color: #DFDFDE;
    border-radius: 5px;
    /* border: 5px solid #79018c; */
    /* box-shadow: 2mm 2mm 2mm #160040; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Queue_Modal {
    cursor: pointer;
}

.form-field {
    width: 500px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    margin: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
}

.Queue_Confirm {
    background-color: #79018c;
    border: none;
    border-radius: 5px;
    color: #ccc;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.form-group {
    text-align: left;
}

#form-field-number {
    width: 70px;
    text-align: center;
}

#modal-modal-description1 {
    margin-left: 20px;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 20px;
}
